<br><br>
<div class="container" style="width:1000px;padding:50px;">
  <form  novalidate #bookForm="ngForm"  autocomplete="off">
    <div class="form-group">
      <label >image url</label>
      <input #imgUrl = "ngModel" name="imgUrl" [(ngModel)] = "input.imgUrl" class="form-control"  required    minlength="0" maxlength="200" placeholder="Url">
      <div   *ngIf = "imgUrl.errors && (imgUrl.dirty||imgUrl.touched)">
        <p  class="alert alert-danger" *ngIf =  "imgUrl.errors.pattern">Required pattern is : http[/s]://...</p>


      </div>
    </div>


    <div class="form-group">
      <label >Isbn</label>
      <input   #Isbn = "ngModel" name="Isbn" [(ngModel)] = "input.Isbn" class="form-control"  required pattern="[0-9]{1,50}"  minlength="10" maxlength="50"  placeholder="Isbn">
      <div   *ngIf = "Isbn.errors && (Isbn.dirty|| Isbn.touched)">
        <p   class="alert alert-danger"  *ngIf =  "Isbn.errors.minlength">Min length required is 10 chars</p>
        <p   class="alert alert-danger"  *ngIf =  "Isbn.errors.pattern">Only numbers allowed</p>

      </div>
    </div>


    <div class="form-group">
      <label>Title</label>
      <input  #Title="ngModel"  name="Title" [(ngModel)] = "input.Title" class="form-control"   minlength="0" maxlength="30" required placeholder="Title">
      <div   *ngIf = "Title.errors && (Title.dirty|| Title.touched)">
        <p   class="alert alert-danger" *ngIf =  "Title.errors">Please fill Title field</p>

      </div>
    </div>

    <div class="form-group">
      <label>Subtitle</label>
      <input  #Subtitle = "ngModel"  name = "Subtitle" [(ngModel)] = "input.Subtitle"   class="form-control" required  minlength="0" maxlength="30" placeholder="Subtitle">
      <div   *ngIf = "Subtitle.errors && (Subtitle.dirty|| Subtitle.touched)">
        <p   class="alert alert-danger" *ngIf =  "Subtitle.errors">Please fill Subtitle field</p>
      </div>
    </div>

    <div class="form-group">
      <label>Author</label>
      <input  #Author = "ngModel"  name = "Author" [(ngModel)] = "input.Author" class="form-control" required minlength="0" maxlength="50" placeholder="Author">
      <div   *ngIf = "Author.errors && (Author.dirty|| Author.touched)">
        <p   class="alert alert-danger" *ngIf =  "Author.errors">Please fill Author field</p>
      </div>
    </div>

    <div class="form-group">
      <label>Published</label>
      <input   pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" #Published = "ngModel"  name = "Published" [(ngModel)] = "input.Published"   class="form-control" required minlength="0" maxlength="20" placeholder="Published">
      <div   *ngIf = "Published.errors && (Published.dirty|| Published.touched)">
        <p   class="alert alert-danger" *ngIf =  "Published.errors">Please fill Published field</p>
        <p   class="alert alert-danger" *ngIf =  "Published.errors.pattern">Pattern required: yyyy/mm/dd</p>

      </div>
    </div>

    <div class="form-group">
      <label>Publisher</label>
      <input  #Publisher = "ngModel"  name = "Publisher" [(ngModel)] = "input.Publisher"   class="form-control" required minlength="0" maxlength="30"placeholder="Publisher">
      <div   *ngIf = "Publisher.errors && (Publisher.dirty|| Publisher.touched)">
        <p   class="alert alert-danger" *ngIf =  "Publisher.errors">Please fill Publisher field</p>
      </div>    </div>

    <div class="form-group">
      <label>Pages</label>
      <input  pattern="[0-9]{1,5}"  #Pages= "ngModel"  name = "Pages" [(ngModel)] = "input.Pages"   class="form-control" required minlength="0" maxlength="5" placeholder="Pages">
      <div   *ngIf = "Pages.errors && (Pages.dirty|| Pages.touched)">
        <p   class="alert alert-danger" *ngIf =  "Pages.errors.minlength">Please fill Pages field</p>
        <p   class="alert alert-danger" *ngIf =  "Pages.errors.pattern">Pages should be numers only</p>

      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea  #Description= "ngModel"  name = "Description" [(ngModel)] = "input.Description"   style="height:250px;" class="form-control" required minlength="10" maxlength="200" placeholder="Description"></textarea>
      <div   *ngIf = "Description.errors && (Description.dirty||Description.touched)">
        <p   class="alert alert-danger"  *ngIf =  "Description.errors.required">Please fill Description field</p>
        <p   class="alert alert-danger"  *ngIf =  "Description.errors.minlength">Min length required is 10 chars</p>

      </div>
    </div>





    <button    (click)="submit(bookForm)"  [disabled]="!bookForm.form.valid" style="float:right;" class="btn btn-primary">Submit</button>
    <div [hidden]="!success" class="alert alert-info bounce"   role="alert">

      {{status}}

    </div>

  </form>
  </div>



